:root {
  --card-bg-color: #3c3028a0;
  --button-primary: #dbbf4e;
  --button-focused: #bba342;
  --button-shadow: rgb(176, 161, 99);
}

body {
  --bg-scale: 60;
  --bg-color: rgb(30, 24, 20);
  --bg-image: radial-gradient(circle, transparent 50%, black 150%),
    url("/images/bg2.webp");
  --bg-size: none;

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-attachment: fixed;

}

.card {
  transition: .3s background-color;
  background-color: var(--card-bg-color) !important;
}

#categoriesMenu {
  position: fixed;
  top: 56px;
  padding: 1rem;

  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: var(--bg-size);
  background-attachment: fixed;
  z-index: 10;
}

#categoriesMenu a {
  transition: .3s color;
  user-select: none;
}

#categoriesMenu .active {
  color: var(--mdb-white);
  filter: drop-shadow(0 0 4px #fffa) drop-shadow(0 0 8px #fff8) drop-shadow(0 0 13px rgba(255, 252, 197, 0.533)) drop-shadow(0 0 18px rgba(255, 191, 0, 0.3));
  scale: 1.2;
}

#categoriesMenu a:hover,
#categoriesMenu a:active {
  color: var(--mdb-white);
}

/* horizontal categories menu */
@media (max-width: 767.98px) {


  main {
    padding-top: calc(56px + 118px);
  }


  #categoriesMenu {
    position: fixed;
    top: 56px;
    bottom: unset;
    width: 100%;
    /* max-width: inherit; */
    display: grid;
    grid-gap: 1.5rem;
    grid-auto-flow: column;
    overflow: hidden;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .25), 0 3px 30px 13px rgba(0, 0, 0, 0.24) !important;
  }

  #categoriesMenu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: max-content;
    font-size: 1.2rem;
  }

  #categoriesMenu svg {
    width: 40px;
    height: 40px;
  }
}

/* vertical categories menu */

@media (min-width: 767.98px) {
  main {
    padding-left: 200px;
    padding-top: 56px;
  }

  #categoriesMenu {
    display: flex;
    flex-direction: column;
  }

  #categoriesMenu .active {
    transform-origin: 10% center;
  }

  #categoriesMenu svg {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
}

ul {
  list-style: none;
  ;
}

a {
  text-decoration: none;
  color: rgb(var(--mdb-secondary-rgb));
}

.btn-primary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  box-shadow: 0 4px 9px -4px var(--button-shadow);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--button-focused);
  border-color: var(--button-focused);
  box-shadow: 0 8px 9px -4px rgb(176 161 99 / 30%), 0 4px 18px 0 rgb(176 161 99 / 20%);
}

#signInForm,
#registerForm,
#cartForm {
  margin-top: 100px !important;
}

#signInForm,
#registerForm {
  max-width: 480px;
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.9)), url("/images/bg3.webp");
}


.nav-item.active {
  margin-bottom: -0.5rem;
  margin-top: -0.5rem;
  padding-top: 0.5rem;
  background-color: rgb(238, 233, 213);
}

.price {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: larger;
  font-weight: 600;
  text-shadow: 2px 2px 4px black;
}

.price-relative {
  position: relative;
  bottom: 0;
  right: 0;
  margin-left: 1rem
}

.price::after {
  content: "₴";
}

#shoppingCart:not(.disabled) #shoppingCartIcon {
  color: rgb(0, 179, 0);
  /* filter: drop-shadow(0 0 4px #fffa) drop-shadow(0 0 8px #fff8) drop-shadow(0 0 13px rgba(255, 252, 197, 0.533)) drop-shadow(0 0 18px rgba(255, 191, 0, 0.3)); */
  text-shadow: 0 4px 9px rgb(186, 255, 82);

}

@keyframes tada {
  0% {
    transform: scaleX(1)
  }

  10%,
  20% {
    transform: scale3d(.9, .9, .9) rotate(-3deg)
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate(3deg)
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.3, 1.3, 1.3) rotate(-3deg);
    color: orange;
    text-shadow: 0 3px 12px lightgoldenrodyellow;
  }

  to {
    transform: scaleX(1);
  }
}

.tada {
  animation: tada 800ms ease;
}


#cartForm {
  max-width: 768px;
}

.item-quantity {
  scale: 0.9;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  display: flex;
}

.item-quantity .amount {
  width: 2rem;
  text-align: center;
  background: none;
  font-size: larger;
  color: white;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  border: 0;
}

.item-delete {
  right: .5rem;
  top: .5rem;
  transition: .3s background-color;
}

.item-delete:hover,
.item-delete:focus {
  background-color: var(--mdb-danger);
}

.item-zero.item-delete:hover,
.item-zero.item-delete:focus {
  background-image:
    repeating-linear-gradient(45deg,
      #fff,
      #ff8a00 10px,
      #e52e71 10px,
      #e52e71 20px);
}

.btn-floating,
[class*=btn-outline-].btn-floating {
  border-radius: 50%;
  padding: 0;
  position: relative;
}

.cart-item {
  background-color: #fff1 !important;
  transition: .3s filter, .3s background-color;
}

.cart-item a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: .3s text-decoration-color;
  outline: none;
}

.cart-item a:hover,
.cart-item a:focus {
  text-decoration-color: white;
  outline-color: transparent;
}

.cart-item:hover {
  background-color: #fea2 !important;
  filter: drop-shadow(0 0 4px #fff5) drop-shadow(0 0 8px #fff7) drop-shadow(0 0 13px rgba(255, 252, 197, 0.533)) drop-shadow(0 0 18px rgba(255, 191, 0, 0.2));
}

.cart-item-empty {
  opacity: .5;
}



.price-relative {
  min-width: 4rem;
  text-align: right;
}

#total-price {
  text-shadow: 2px 2px 4px black;
}

#deliveryAddress,
#deliveryDateAndTime,
#deliveryAdditionalInformation {
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0.9)), url("/images/bg3.webp");
}

#deliveryDateAndTime {
  background-position-y: calc(-55px - 24px);
}

#deliveryAdditionalInformation {
  background-position-y: calc(-55px - 24px - 38px);

}

.about-big-img {
  margin-top: 80px !important;
}

.text-delimeter {
  width: 40%;
  max-width: 250px;
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}