<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="page-head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bouquets</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/common.css"/>
</head>
<body>
<th:block th:fragment="header-nav(activeItem)">
    <nav class="navbar navbar-expand navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <strong class="blue-text">SOME1</strong>
            </a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'shop')} ? 'active'">
                    <a href="/shop" class="nav-link waves-effect"
                       th:classappend="${#strings.equals(activeItem, 'shop')} ? 'active'">Shop</a>
                </li>
                <li class="nav-item" th:classappend="${#strings.equals(activeItem, 'about')} ? 'active'">
                    <a href="/about" class="nav-link waves-effect"
                       th:classappend="${#strings.equals(activeItem, 'about')} ? 'active'">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li id="navUserName" class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:inline="text">Hello, [[${#authentication.principal.name.firstName}]]</a>
                </li>
                <li id="navSignIn" class="nav-item" sec:authorize="!isAuthenticated()"
                    th:classappend="${#strings.equals(activeItem, 'signin')} ? 'active'">
                    <a href="/signin" class="nav-link waves-effect"
                       th:classappend="${#strings.equals(activeItem, 'signin')} ? 'active'">Sign in</a>
                </li>
                <li id="navSignOut" class="nav-item" sec:authorize="isAuthenticated()">
                    <a href="javascript: document.signoutForm.submit()" class="nav-link waves-effect">Sign out</a>
                    <form name="signoutForm" th:action="@{/signout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Signout"/>
                    </form>
                </li>
                <li id="navRegister" class="nav-item" sec:authorize="!isAuthenticated()"
                    th:classappend="${#strings.equals(activeItem, 'register')} ? 'active'">
                    <a href="/register" class="nav-link waves-effect"
                       th:classappend="${#strings.equals(activeItem, 'register')} ? 'active'">Register</a>
                </li>
                <li class="nav-item">
                    <a id="shoppingCart" href="/cart" class="nav-link disabled user-select-none">`
                        <i id="shoppingCartIcon" class="fas fa-xl fa-shopping-cart"></i>
                        <span id="cartBadge" class="badge rounded-pill bg-danger"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

<th:block th:fragment="shop-nav-item(category)">
    <a href="/shop/" class="py-2"
       th:attrappend="href=${category.endpoint}"
       th:classappend="${#strings.equals(currentCategory, category.endpoint)} ? 'active'"
    >
        <svg>
            <use href="/images/icons.svg#" th:attrappend="href=${category.endpoint}"/>
        </svg>
        <span th:text="${category.name}"> NAME </span>
    </a>
</th:block>

<th:block th:fragment="shop-nav">
    <nav id="categoriesMenu" class="pt-4">
        <th:block th:each="category : ${categories}" th:insert="fragments :: shop-nav-item (category = ${category})"/>
    </nav>
</th:block>

<th:block th:fragment="shop-item">
    <li id="item" class="col-12 col-xl-6" th:attrappend="id=${good.id}">
        <div class="card text-white border-0 bg-white">
            <div class="row g-0">
                <div class="col-4"><img src="/images/Goods/" alt="Goods" class="img-fluid rounded-start"
                                        th:attrappend="src=${good.images[0]}"/>
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${good.name}"> NAME </h5>
                        <p class="card-text" th:text="${good.details}"> DETAILS </p>
                        <button type="button" class="btn btn-primary">Add to cart</button>
                        <span class="price" th:text="${good.price}"> PRICE </span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</th:block>

<th:block th:fragment="shop-list">
    <ul class="row g-3 p-4">
        <th:block th:each="good : ${goods}" th:insert="~{fragments :: shop-item}"></th:block>
    </ul>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</th:block>

<th:block th:fragment="page-js">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
            integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
            crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
</th:block>

</body>
</html>